<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog List</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" />
</head>
<body class = "flex flex-col min-h-screen bg-gray-100 font-sans antialiased">
    <nav>
        <div class = "flex justify-between p-5 bg-blue-700 text-white">
            <a href = "/">
                <div class = "text-2xl font-bold">
                    AI Blog Generator
                </div>
            </a>
            <a href="logout" class = "hover:underline">
                Logout
            </a>
        </div>
    </nav>

    <!-- Main Content -->

    <div class = "container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">

            
            <section>
                <h2 class = "text-xl font-semibold mb-4 ">
                    All Blog List
                </h2>

                <div class="flex flex-col gap-4">
                    {% for article in articles reversed %}

                    <a href="blog-details/{{article.id}}/">

                        <div class=" border border-gray-300 p-4 rounded shadow-md transition transform  hover:scale-105" >

                            <h3 class = "text-lg font-semibold">Blog Post</h3>
                            <p> {{article.title}} </p>
                        </div>
                    </a>

                    {% endfor %}
                </div>
            </section>

        </div>
    </div>

    <footer class = "text-center font-semibold p-5 mt-6">
        Powered by <a class = "hover:underline" href = "https://github.com/mihretthe">
            Mihretthe
        </a>
            
     </footer>
    
</body>
</html>