<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Detail</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" />
</head>
<body class = "flex flex-col min-h-screen bg-gray-100 font-sans antialiased">
    <nav>
        <div class = "flex justify-between p-5 bg-blue-700 text-white">
            <a href = "/">
                <div class = "text-2xl font-bold">
                    AI Blog Generator
                </div>
            </a>

            <div class = "flex gap-10">

                <a href="{% url 'blog-list' %}">
                    <div class = "hover:underline">
                        My Blogs
                    </div>
                </a>
                <a href="{% url 'logout' %}">
                    <div class = "hover:underline">
                        Logout
                    </div>
                </a>
            </div>
        </div>
    </nav>

    <!-- Main Content -->

    <div class = "container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">

           <section>
            <h2 class = "text-xl mb-4 font-semibold">Blog Post Details</h2>
            <p>
                {{blog_detail.content}}
            </p>

            <hr class = "bg-gray-400 my-4">

            <!-- <h4 class="text-lg font-semibold">Youtube Title</h4>
            <p class="text-gray-700">The title</p> -->
            <h4 class="text-lg font-semibold mt-4">Youtube link</h4>
            <a href={{blog_detail.link}} class="text-blue-600 hover:underline">{{blog_detail.link}}</a>
           </section>
            

        </div>
    </div>

    <footer class = "text-center font-semibold p-5 mt-6">
        Powered by <a class = "hover:underline" href = "https://github.com/mihretthe">
            Mihretthe
        </a>
            
     </footer>
    
</body>
</html>